<html>
    <head>
        <title>Churn prediction Demo</title>
    </head>
    <body>
        <h1>Churn prediction demo - FastAPI version</h1>

        <form id="form">
            <label for="credit_score">Credit Score:</label>
            <input type="number" id="credit_score" name="credit_score" min="350" max="850"><br><br>
          
            <label for="country">Country:</label>
            <select id="country" name="country">
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Spain">Spain</option>
            </select><br><br>
            
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select><br><br>
          
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" min="18" max="92"><br><br>
          
            <label for="tenure">Tenure:</label>
            <input type="number" id="tenure" name="tenure" min="0" max="10"><br><br>
          
            <label for="balance">Balance:</label>
            <input type="number" id="balance" name="balance" min="0" max="251000000"><br><br>
          
            <label for="products_number">Number of Products:</label>
            <input type="number" id="products_number" name="products_number" min="1" max="4"><br><br>
          
            <label for="credit_card">Has Credit Card:</label>
            <input type="radio" id="credit_card_true" name="credit_card" value="true"> True
            <input type="radio" id="credit_card_false" name="credit_card" value="false"> False<br><br>
          
            <label for="active_member">Is Active Member:</label>
            <input type="radio" id="active_member_true" name="active_member" value="true"> True
            <input type="radio" id="active_member_false" name="active_member" value="false"> False<br><br>
          
            <label for="estimated_salary">Estimated Salary:</label>
            <input type="number" id="estimated_salary" name="estimated_salary" min="0" max="200000"><br><br>
          
            <input type="submit" value="Predict">
        </form>

        <h3 id="prediction"></h3>

        <script>

            const form = document.getElementById("form");
            form.addEventListener("submit", function(event) {
                event.preventDefault();

                // Get form data
                const formData = new FormData(form);

                // Convert form data to JSON
                let payload = {};
                formData.forEach((value, key) => {
                    payload[key] = value;
                    
                    // Convert the value to the correct data type
                    // There is a weird behaviour trying to retrieve the radio types
                    if (form.elements[key].type === "number") {
                        payload[key] = Number(value);
                    } else if ((form.elements[key].type === "radio") || (form.elements[key].type === undefined)) {
                        payload[key] = value === "true" ? 1 : 0;
                    }
                });
                
                console.log("Data sent to model for prediction:", payload);

                fetch("/predict", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify([payload]),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log("Prediction:", data[0]);

                        let element = document.getElementById("prediction");

                        if (data[0] == 1) {
                            element.innerHTML = "The customer will churn";
                        } else {
                            element.innerHTML = "The customer will not churn";
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            });

        </script>
    </body>
</html>